
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/xjc-project.iml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
CMakeLists.txt
main
